@import "tailwindcss";
@plugin "daisyui";
@import "@fontsource/mochiy-pop-one";
/* @import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"); */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.custom-navbar {
  font-family: "Mochiy Pop One", sans-serif;
  color: white;
}

.slogan {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: italic;
}

.custom-footer {
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
